<h1>User info</h1>
<p><%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %></p>
<p>name：<%= user.name %></p>
<p>introduction：<%= user.introduction %></p>


<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
<%= link_to "プロフィール編集", edit_user_path(user.id) %>

<h1>New book</h1>
<%= form_for(book) do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>