<% if flash[:danger] %>
  <% flash.each do |message_type, messages| %>
    <h2 class="error-name"><%= flash[:danger].count %>errors prohibited this book from being saved:</h2>
    <% messages.each do |message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <% end %>
<% end %>

<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
<div class="field-style">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field-style">
  <label>Opinion</label>
  <%= f.text_area :body %>
</div>
<%= f.submit 'Update Book' %>
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<strong>│</strong>
<%= link_to "Back", books_path %>