<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1>Editing Book</h1>
      <%= form_for(@book) do |f| %>
      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <label>Opinion</label><br>
        <%= f.text_area :body %>
      </div>
      <%= f.submit 'Update Book' %>
      <% end %>

      <%= link_to "Show", book_path(@book.id) %>
      <strong>│</strong>
      <%= link_to "Back", books_path %>
    </div>
    <div class="col-lg-9"></div>
  </div>
</div>