<!DOCTYPE html>
<html>

<head>
  <title>Bookers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    .title{
      color: white;
      font-size: 20px;
    }

    .listyle{
      margin: 20px;
      color: white;
    }

    ul{
      padding-right: 50px;
    }

    .copyright{
      padding-right: 200px;
    }

    .error-name{
      color: #a94442;
    }

  </style>
</head>

<body>
  <nav class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 class="title">Bookers</h1>
      </div>
      <ul class="navbar-nav navbar-right" >
        <% if user_signed_in? %>
        <li class="listyle glyphicon glyphicon-home" aria-hidden="true"><%= link_to "Home", user_path(current_user) %></li>
        <li class="listyle glyphicon glyphicon-user" aria-hidden="true"><%= link_to "Users", users_index_path %></li>
        <li class="listyle glyphicon glyphicon-book" aria-hidden="true"><%= link_to "Books", books_path %></li>
        <li class="listyle glyphicon glyphicon-log-out" aria-hidden="true"><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li class="listyle glyphicon glyphicon-home" aria-hidden="true"><%= link_to "Home", root_path %></li>
        <li class="listyle glyphicon glyphicon-link" aria-hidden="true"><%= link_to "About", home_about_path %></li>
        <li class="listyle glyphicon glyphicon-edit" aria-hidden="true"><%= link_to "sign up", new_user_registration_path %></li>
        <li class="listyle glyphicon glyphicon-log-in" aria-hidden="true"><%= link_to "login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:danger] %>
    <% flash.each do |message_type, messages| %>
      <h2 class="error-name"><%= flash[:danger].count %>errors prohibited this book from being saved:</h2>
      <% messages.each do |message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>
  <footer class="navbar-right">
    <p class="copyright">CopyRight Infratop.inc</p>
  </footer>
</body>

</html>